/** @format */
/** @format */
/* line 9, app/assets/stylesheets/style.scss */
body {
  background-color: #ffffff;
}

/* line 12, app/assets/stylesheets/style.scss */
* {
  font-family: "Rajdhani";
}

/* line 14, app/assets/stylesheets/style.scss */
* .notice .alert {
  display: none !important;
}

@media (min-width: 768px) {
  /* line 19, app/assets/stylesheets/style.scss */
  .diagonal {
    width: 100%;
    height: 100%;
    transform: skew(-40deg);
    background: #373737;
    position: absolute;
    left: -45%;
    z-index: 1;
    overflow: hidden;
    top: 0;
  }
}

@media (max-width: 768px) {
  /* line 19, app/assets/stylesheets/style.scss */
  .diagonal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
  }
}

/* line 43, app/assets/stylesheets/style.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #ffffff;
  z-index: 1;
}

/* line 54, app/assets/stylesheets/style.scss */
a {
  text-decoration: none;
  color: #ffffff;
}

/* line 58, app/assets/stylesheets/style.scss */
a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* line 63, app/assets/stylesheets/style.scss */
li {
  list-style-type: none;
}

/* line 67, app/assets/stylesheets/style.scss */
.black {
  color: #373737;
}

/* rajdhani-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/rajdhani-v15-latin-300-dacdeca77dbee66cc59d47218a70d86863b202c9941f273c60851c785955ae2d.eot);
  /* IE9 Compat Modes */
  src: url(/assets/rajdhani-v15-latin-300-dacdeca77dbee66cc59d47218a70d86863b202c9941f273c60851c785955ae2d.eot?#iefix) format("embedded-opentype"), url(/assets/rajdhani-v15-latin-300-26e56d9787dc18d865d2f3f970428230f82cddb208cfcd8e02a0296f615c9ef0.woff2) format("woff2"), url(/assets/rajdhani-v15-latin-300-604f0e6aa2c9a51f85cf0ab74754ef1f7e3b3960c31c995ff8eae570b3b605a9.woff) format("woff"), url(/assets/rajdhani-v15-latin-300-c7c091da098ed67102c7be47b739639d8e259a90565c046e6680e1a318440ce1.ttf) format("truetype"), url(/assets/rajdhani-v15-latin-300-96acea861b570da58f4b3fa5055b8bfc8c92d9905033b3dec73c0c62e4f0a5a5.svg#Rajdhani) format("svg");
  /* Legacy iOS */
}

/* rajdhani-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/rajdhani-v15-latin-regular-9ca92021bd928e65f41de3e3f824077a67bc3d4cfa508375943461a226e3c168.eot);
  /* IE9 Compat Modes */
  src: url(/assets/rajdhani-v15-latin-regular-9ca92021bd928e65f41de3e3f824077a67bc3d4cfa508375943461a226e3c168.eot?#iefix) format("embedded-opentype"), url(/assets/rajdhani-v15-latin-regular-600c102f61d544c3c92bad3fce2a6f1787c9f1506f3e6b12ef681ed1d64fce99.woff2) format("woff2"), url(/assets/rajdhani-v15-latin-regular-dc671e3dde2bcca728320fd808cd41b1851c19778230d37683f852b62597f40b.woff) format("woff"), url(/assets/rajdhani-v15-latin-regular-c20bf0aec6d1dd415fed7e851f5eb47e8d979a0340582453f5c6a55248ee4ae9.ttf) format("truetype"), url(/assets/rajdhani-v15-latin-regular-59650c2ee058e145f5eec5981cc715f95824177aed2d5bd3950b6c2a87a3c7ca.svg#Rajdhani) format("svg");
  /* Legacy iOS */
}

/* rajdhani-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  src: url(/assets/rajdhani-v15-latin-500-9969ff32c3ccbf19f32049256ff2d1ed02b9c33b2f681efc9ab4dc6288e9a2e5.eot);
  /* IE9 Compat Modes */
  src: url(/assets/rajdhani-v15-latin-500-9969ff32c3ccbf19f32049256ff2d1ed02b9c33b2f681efc9ab4dc6288e9a2e5.eot?#iefix) format("embedded-opentype"), url(/assets/rajdhani-v15-latin-500-9542e99493fe9712f0c0beab74872658668791bf50b7ace47dfb98d348d9ed1e.woff2) format("woff2"), url(/assets/rajdhani-v15-latin-500-dba8781f6c6031658097248a7cffb314892db892f247809c86af15e61b9ab2fc.woff) format("woff"), url(/assets/rajdhani-v15-latin-500-f2ed57fecc16384aa70182e315f2072604fb123373a2afec956d2467a03f7139.ttf) format("truetype"), url(/assets/rajdhani-v15-latin-500-5fda2a7a7b0454e4e5d1f466761140d514c3e18eca6be270dc67e50ea6371106.svg#Rajdhani) format("svg");
  /* Legacy iOS */
}

/* rajdhani-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/rajdhani-v15-latin-600-09ccf31fd20a66ecba09b3aab08bfb9d7e9be0104649c45c487121e202d759c2.eot);
  /* IE9 Compat Modes */
  src: url(/assets/rajdhani-v15-latin-600-09ccf31fd20a66ecba09b3aab08bfb9d7e9be0104649c45c487121e202d759c2.eot?#iefix) format("embedded-opentype"), url(/assets/rajdhani-v15-latin-600-04eb1e0bd800e63cd44e36a793cd90335b406346acae6bf28ea5e0c9fd53b67e.woff2) format("woff2"), url(/assets/rajdhani-v15-latin-600-a5a077de3eb874e66f9bccd70ad4b09457d135d2dc73abafb2de55c7016222ab.woff) format("woff"), url(/assets/rajdhani-v15-latin-600-6e5e1c37ac74b576bf1f455d20314406a1aedda5532c64e38f86cbf902dedc30.ttf) format("truetype"), url(/assets/rajdhani-v15-latin-600-f83f7ae8d938c49589fd1e2e2e249533fb44972425017df5b41351711cfc098f.svg#Rajdhani) format("svg");
  /* Legacy iOS */
}

/* rajdhani-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/rajdhani-v15-latin-700-ede356e8ffb3d45aff1bef229370051e3a7bf4d49c61b60ec2ffa94eafd0eea9.eot);
  /* IE9 Compat Modes */
  src: url(/assets/rajdhani-v15-latin-700-ede356e8ffb3d45aff1bef229370051e3a7bf4d49c61b60ec2ffa94eafd0eea9.eot?#iefix) format("embedded-opentype"), url(/assets/rajdhani-v15-latin-700-9b53e081ddebac3a8b4a25e0f9e62845eaec2e466f4277b3d6d0ce7b05bd0bfb.woff2) format("woff2"), url(/assets/rajdhani-v15-latin-700-acfe50d6bf8f628c35eaa2b496ac8d735db83f54497046f53762ea236bad94b1.woff) format("woff"), url(/assets/rajdhani-v15-latin-700-3ad9619ad3824246e7323334370214c87a3141d05e7340b0dc16c652f5a3a6cd.ttf) format("truetype"), url(/assets/rajdhani-v15-latin-700-37f028ecb2b94d4d8965d5a9c5f4fe8b83d86aeaf3e08c305c291d2da1a1573a.svg#Rajdhani) format("svg");
  /* Legacy iOS */
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* line 4, app/assets/stylesheets/homescreens.scss */
body {
  overflow: hidden;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/* line 11, app/assets/stylesheets/homescreens.scss */
body p {
  color: #ffffff;
  z-index: 999;
}

/* line 16, app/assets/stylesheets/homescreens.scss */
body .main {
  position: relative;
  z-index: 100;
  align-items: center;
}

/* line 17, app/assets/stylesheets/homescreens.scss */
body .main .logo {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 25, app/assets/stylesheets/homescreens.scss */
body .main p {
  z-index: 100;
  color: #ffffff;
}

/* line 32, app/assets/stylesheets/homescreens.scss */
body h1 {
  font-size: 96px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  z-index: 99;
  margin: 0;
  padding: 0;
  line-height: 128px;
  margin-top: 3vh;
}

/* line 44, app/assets/stylesheets/homescreens.scss */
body h2 {
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  z-index: 99;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 64px;
}

/* line 56, app/assets/stylesheets/homescreens.scss */
body .login_wrapper {
  text-decoration: none !important;
  position: relative;
  z-index: 99;
  margin-top: 20vh;
}

/* line 62, app/assets/stylesheets/homescreens.scss */
body .login_wrapper a {
  font-size: 64px;
  color: #ffffff;
}

/* line 67, app/assets/stylesheets/homescreens.scss */
body .signup_wrapper {
  text-decoration: none !important;
  z-index: 99;
  margin-top: 25vh;
  text-align: center;
}

/* line 74, app/assets/stylesheets/homescreens.scss */
body .signup_wrapper a {
  font-size: 64px;
  color: #373737;
}

/* line 80, app/assets/stylesheets/homescreens.scss */
body .stats {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

/* line 86, app/assets/stylesheets/homescreens.scss */
body .stats .leftSide {
  width: 50%;
  transform: skew(-40deg);
  margin-top: 10%;
}

/* line 87, app/assets/stylesheets/homescreens.scss */
body .stats .leftSide h2 {
  transform: skew(40deg);
  margin-bottom: 10px;
  text-align: right;
  font-size: 48px;
}

/* line 98, app/assets/stylesheets/homescreens.scss */
body .stats .leftSide li {
  color: #ffffff;
  font-size: 32px;
  text-decoration: none;
  transform: skew(40deg);
  text-align: right;
  margin-bottom: 10px;
}

/* line 108, app/assets/stylesheets/homescreens.scss */
body .stats .rightSide {
  margin-top: 10%;
  padding-left: 30%;
  width: 50%;
  transform: skew(-40deg);
}

/* line 113, app/assets/stylesheets/homescreens.scss */
body .stats .rightSide h2 {
  margin-bottom: 10px;
  text-align: left;
  color: #373737;
  font-size: 48px;
}

/* line 120, app/assets/stylesheets/homescreens.scss */
body .stats .rightSide li {
  color: #ffffff;
  font-size: 32px;
  text-decoration: none;
  color: #373737;
  transform: skew(40deg);
}

@media (min-width: 768px) {
  /* line 133, app/assets/stylesheets/homescreens.scss */
  body {
    height: 100vh;
    overflow: hidden;
  }
  /* line 137, app/assets/stylesheets/homescreens.scss */
  body .main {
    top: 0;
    position: relative;
    z-index: 100;
    align-items: center;
  }
  /* line 139, app/assets/stylesheets/homescreens.scss */
  body .main .logo {
    display: absolute;
    color: #ffffff;
    font-size: 48px;
    top: -2%;
    left: 2%;
    line-height: 48px;
    margin: 0 0 0 13px;
    padding: 0;
    z-index: 999;
  }
  /* line 154, app/assets/stylesheets/homescreens.scss */
  body .main p {
    z-index: 100;
    color: #ffffff;
  }
  /* line 160, app/assets/stylesheets/homescreens.scss */
  body h1 {
    font-size: 128px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    z-index: 99;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 128px;
  }
  /* line 172, app/assets/stylesheets/homescreens.scss */
  body h2 {
    font-size: 64px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    z-index: 99;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 64px;
  }
  /* line 186, app/assets/stylesheets/homescreens.scss */
  body .login_wrapper {
    text-decoration: none !important;
    position: relative;
    z-index: 99;
    margin-left: 10%;
    margin-top: 20vh;
    text-align: left !important;
  }
  /* line 193, app/assets/stylesheets/homescreens.scss */
  body .login_wrapper a {
    font-size: 128px;
    color: #ffffff;
  }
  /* line 199, app/assets/stylesheets/homescreens.scss */
  body .signup_wrapper {
    text-decoration: none !important;
    position: relative;
    z-index: 99;
    margin-right: 10%;
    margin-bottom: 5vh;
    text-align: right;
  }
  /* line 207, app/assets/stylesheets/homescreens.scss */
  body .signup_wrapper a {
    font-size: 128px;
    color: #373737;
  }
  /* line 212, app/assets/stylesheets/homescreens.scss */
  body .stats {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }
  /* line 218, app/assets/stylesheets/homescreens.scss */
  body .stats .leftSide {
    width: 50%;
    transform: skew(-40deg);
    margin-top: 10%;
  }
  /* line 219, app/assets/stylesheets/homescreens.scss */
  body .stats .leftSide h2 {
    transform: skew(40deg);
    margin-bottom: 10px;
    text-align: right;
    font-size: 48px;
  }
  /* line 230, app/assets/stylesheets/homescreens.scss */
  body .stats .leftSide li {
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    transform: skew(40deg);
    text-align: right;
    margin-bottom: 10px;
  }
  /* line 240, app/assets/stylesheets/homescreens.scss */
  body .stats .rightSide {
    margin-top: 10%;
    padding-left: 30%;
    width: 50%;
    transform: skew(-40deg);
  }
  /* line 245, app/assets/stylesheets/homescreens.scss */
  body .stats .rightSide h2 {
    margin-bottom: 10px;
    color: #373737;
    font-size: 48px;
  }
  /* line 252, app/assets/stylesheets/homescreens.scss */
  body .stats .rightSide li {
    margin-left: 20%;
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
    color: #373737;
    transform: skew(40deg);
    text-align: left !important;
  }
}
