<%= stylesheet_link_tag "falsescreen", media: "all" %>
<div class="skew"></div>
<section id="round">
<nav>
<span class="logo">XOXO</span>
<%= link_to  root_path do %> 
<%= image_tag 'menu_white.svg' %>
<% end %>
</nav>

<div class="decisions">

<div class="round-container">
<h1>You have won</h1>
<%= link_to "Back to Menu", root_path %>
</div>
</div>
</section>


