@import "style";


body{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #27608F;
}
.skew{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FF6A19;
    transform: skewY(-20deg);
    z-index: 1;
    top: -50%;

    @media (min-width: 768px){
        transform: skew(-20deg);
        left: -50%;
        top: unset;
    }
}

#round{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1650px;
    padding-bottom: 200px;
    height: 100vh;
    margin: auto;
   z-index: 2;
   position: relative;
   nav{
    width: 100%;
    color: $white;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        padding-inline: 20px;
        font-size: 48px;
        font-weight: 600;
    }
    a{
        padding-inline: 20px;
    }
    }
   .decisions{
    height: 85%;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
   }

.round-container{
    display: flex;
    flex-direction: column;
    color: $white;
    align-items: center;
    justify-content: center;
    h1{
        margin: 0;
        color: $white;
        font-size: 128px;
    }
    a{
        width: fit-content;
        font-size: 36px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 18px;
        border-radius: 10px;
        border: 2px solid $white;
        font-weight: 500;

        &:hover{
            text-decoration:  none;
        }
        }
}
a{
&:hover{
    text-decoration: none;
}
}

   #timer{
    font-size: 96px;
    font-weight: 600;
   }

   .x{
        color: #27608F;
        font-size: 500px;
        font-weight: 600;

   }

   .o{
    color: #FF6A19;
        font-size: 500px;
        font-weight: 600;

   }

   .footer{
    width: 100%;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    font-size: 64px;
    font-weight: 600;
    color: $white;
    span{
        padding-inline: 50px;
    }
   }

}

